<!DOCTYPE html>
<html>
<head>
  <title>KarmaForge</title>
</head>
<body>
  <header>
    <h1 id="title">KarmaForge</h1>
      <h3 id="welcome-message">Welcome Message...</h3>
  </header>
    <button id="enter">Forge!</button>
    <div id="location">
      <form id="location-form">
        <
      </form>
    </div>

</body>
</html>
