 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #ebay-results {
  font-family: 'Marvel';
  font-size: .75em;
}

#donation-list li {
 font-family: 'Marvel';
 font-size: .35em;
 text-align: left;
 list-style: none;
}
.notice-alert {
  font-family: marvel;
  font-size: 1.4em;
}

#instructions {
  display: none;
  text-align: center;
  font-family: 'Marvel';
  font-size: 1.5em;
}

#user-instructions {
  font-family: 'Marvel';
  font-size: .75em;
  text-align:center;
}

#item_save_button {
  text-align: center;
  vertical-align: center;
  display: none;
}

#how-does-it-work {
  background-color: #5CACEE;
  font-family: shadows into light;
  font-size: 1.8em;
}

#location_button {
  background-color: #5CACEE;
}

#ebay_button {
  background-color: #5CACEE;
}

#item_save {
  background-color: #5CACEE;
}

.reset {
  background-color: tomato;
  font-size: .8em;
  margin: 20px 0;
}

#forge-again {
  background-color: tomato;
  font-size: 35px;
}

#donate {
  background-color: tomato;
}

#sell {
  background-color: #5CACEE;
}

#sort_name {
  background-color: #5CACEE;
  margin-bottom: 50px;
}

#sort_points {
  background-color: #5CACEE;
  margin-bottom: 50px;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

#global-stats {
  margin-top: 60px;
}

.next-button {
  font-size: 1.2em;
}

.login-nav span{
  color: white;
  font-family: 'Shadows Into Light';
  font-size: 1.5em;
}

.navbar {
  margin-bottom: 0px;
}

#title {
  text-align: center;
  font-family: 'Shadows Into Light';
  font-size: 6em;
}

#tagline {
  text-align:center;
  font-family: 'Shadows Into Light';
  font-size: 3em;
}

#karma {
  font-family: 'Shadows Into Light';
  color: tomato;
  font-weight: bolder;
}

#buttons {
  text-align: center;
  vertical-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#enter {
  background-color: tomato;
  font-family: 'Shadows Into Light';
  font-size: 1.8em;
}

#error-message {
  text-align: center;
  vertical-align: center;
}

#location {
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  font-family: 'Marvel';
  display: none;
}

#item-search {
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  font-family: 'Marvel';
  display: none;
}

#ebay-display {
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  font-family: 'Marvel';
  display: none;
}

form {
  display: inline;
  margin: 50px;
}

form button {
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0); /* IE 9 */
  -moz-transform:scale(2.0,2.0); /* Firefox */
  -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
  -o-transform:scale(2.0,2.0);
}

#donate {
  margin: 50px;
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0); /* IE 9 */
  -moz-transform:scale(2.0,2.0); /* Firefox */
  -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
  -o-transform:scale(2.0,2.0);
}

#transaction-display {
  text-align: center;
  vertical-align: center;
  font-size: 3em;
  font-family: 'Marvel';
  display: none;
}

#again{
  display: none;
  text-align: center;
  vertical-align: center;
  font-size: 2em;
}

.login-nav span {
  margin-left: 10px;
}


#devise-sign-in {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  vertical-align: center;
  font-family: 'Marvel';
}

#devise-sign-up {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  vertical-align: center;
  font-family: 'Marvel';
}

#icon-home {
  font-family: 'Shadows Into Light';
  font-size: 2em;
}

#icon-home a{
  color: tomato;
}

#user_pts_container, #user_pts {
  color: orange;
  font-size: 1em;
}
#user_pts {
  font-weight: bold;
  text-decoration: underline;
}

#global-stats {
  font-family: 'Marvel';
}

@media (max-device-width: 450px){
  #title {
    font-size: 3em;
  }

  #tagline {
    font-size: 2em;
  }

  #global-stats svg,  {
    width: 100%;
  }

  #enter {
    margin: 50px 0;
  }

  #buttons {
    margin-top: none;
    margin-bottom: none;
  }

  #how-does-it-work, .next-button {
    width: 100%;
    height: 80px;
    margin: 10px 0;
  }

  input {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  #sort_name, #sort_points {
    width: 100%;
    margin: 5px 0;
    height: 50px;
  }

  #sort_points {
    margin-bottom: 25px;
  }

  .login-nav a {
    display: block;
    margin-left: 100px;
  }

  .login-nav span {
    margin-left: 0;
  }

  #forge-again {
    width: 100%;
    height: 80px;
  }

  button.reset {
    width: 100%;
    margin-top: 20px;
  }

  #sell, #donate {
    width: 140px;
    height: 40px;
    margin: 3 0px 0;
  }
  #devise-sign-in, #devise-sign-up {
    margin: 0;
  }
}
