/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#instructions {
  display: none;
}

#get-started {
  display: inline;
}

#get-started li{
  list-style: none;
}


#item_save_button {
  text-align: center;
  vertical-align: center;
  display: none;
}

#transaction-display {
  display: none;
}

#ebay-display {
  display: none;
}

.notice {
  color: green;
}
.alert {
  color: red;
}

.login-nav span{
  color: white;
  font-family: 'Shadows Into Light';
  font-size: 1.5em;
}

.navbar {
  margin-bottom: 0px;
}

#title {
  text-align: center;
  font-family: 'Shadows Into Light';
  font-size: 6em;
}

#tagline {
  text-align:center;
  font-family: 'Shadows Into Light';
  font-size: 3em;
}

#karma {
  font-family: 'Shadows Into Light';
  color: tomato;
  font-weight: bolder;
}

#intro {
  text-align: center;
  vertical-align: center;
  font-family: 'Marvel';
  float: right;
  width: 50%;
}

#enter {
  font-family: 'Shadows Into Light';
  margin-top: 25px;
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0); /* IE 9 */
  -moz-transform:scale(2.0,2.0); /* Firefox */
  -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
  -o-transform:scale(2.0,2.0);
}

#error-message {
  text-align: center;
  vertical-align: center;
  float: right;
  width: 50%;
}

#location {
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  font-family: 'Marvel';
  display: none;
  float: right;
  width: 50%;
}

#item-search {
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  font-family: 'Marvel';
  display: none;
  float: right;
  width: 50%;
}

#ebay-display {
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  font-family: 'Marvel';
  display: none;
  float: right;
  width: 50%;
}

form {
  display: inline;
  margin: 50px;
}

form button {
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0); /* IE 9 */
  -moz-transform:scale(2.0,2.0); /* Firefox */
  -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
  -o-transform:scale(2.0,2.0);
}

#donate {
  margin: 50px;
  transform:scale(2.0,2.0);
  -ms-transform:scale(2.0,2.0); /* IE 9 */
  -moz-transform:scale(2.0,2.0); /* Firefox */
  -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
  -o-transform:scale(2.0,2.0);
}

#transaction-display {
  text-align: center;
  vertical-align: center;
  font-size: 3em;
  font-family: 'Marvel';
  display: none;
  float: right;
  width: 50%;
}

#again{
  display: none;
  text-align: center;
  vertical-align: center;
  font-size: 2em;
  float: right;
  width: 50%;
}

.login-nav span {
  margin-left: 10px;
}


#devise-sign-in {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  vertical-align: center;
  font-family: 'Marvel';
}

#devise-sign-up {
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  vertical-align: center;
  font-family: 'Marvel';
}

#icon-home {
  font-family: 'Shadows Into Light';
  font-size: 2em;
}

#icon-home a{
  color: orange;
}

#user_pts_container, #user_pts {
  color: orange;
  font-size: 1em;
}
#user_pts {
  font-weight: bold;
  text-decoration: underline;
}

#global-stats {
  font-family: 'Marvel';
  float: left;
  width: 50%
}

